{
    "openapi": "3.0.0",
    "info": {
        "title": "Market API",
        "description": "Market L5 Swagger OpenApi description",
        "contact": {
            "email": "dima8045@ukr.net"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://market.loc/api/v1",
            "description": "Market API local host"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register",
                "description": "Return created user",
                "operationId": "registration",
                "requestBody": {
                    "request": "User",
                    "description": "Enter user",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "User2"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "user2@mail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "The given data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "errors": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "%FIELD_NAME%": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "message": {
                                                "type": "srting"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "user": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "%FIELD_NAME%": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "access_token": {
                                                "type": "string",
                                                "default": "true"
                                            },
                                            "redirect": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login",
                "description": "Return user",
                "operationId": "login",
                "requestBody": {
                    "request": "User",
                    "description": "Enter user",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "user1@mail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "The given data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "errors": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "%FIELD_NAME%": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "message": {
                                                "type": "srting"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "user": {
                                                "type": "object",
                                                "items": {
                                                    "properties": {
                                                        "%FIELD_NAME%": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "access_token": {
                                                "type": "string",
                                                "default": "true"
                                            },
                                            "redirect": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/logout": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout",
                "description": "Logs out current logged user session",
                "operationId": "logout",
                "responses": {
                    "401": {
                        "description": "Access token was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "message": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "message": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categories/list": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get list of categories",
                "operationId": "categoriesList",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "description": "Category Id",
                                                "type": "integer"
                                            },
                                            "parent_id": {
                                                "description": "Parent category Id",
                                                "type": "integer",
                                                "default": "null"
                                            },
                                            "name": {
                                                "description": "Name of category",
                                                "type": "string"
                                            },
                                            "image_folder": {
                                                "description": "Category images folder name",
                                                "type": "string"
                                            },
                                            "created_at": {
                                                "description": "timestamp of creating",
                                                "type": "string",
                                                "example": "2018-10-16 10:54:44"
                                            },
                                            "updated_at": {
                                                "description": "timestamp of last updated",
                                                "type": "string",
                                                "example": "2018-10-16 10:54:44"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get list of categories with relation data",
                "operationId": "categories",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "description": "Category Id",
                                                "type": "integer"
                                            },
                                            "parent_id": {
                                                "description": "Parent category Id",
                                                "type": "integer",
                                                "default": "null"
                                            },
                                            "name": {
                                                "description": "Name of category",
                                                "type": "string"
                                            },
                                            "image_folder": {
                                                "description": "Category images folder name",
                                                "type": "string"
                                            },
                                            "categoryImages": {
                                                "description": "Category images collection",
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "category_id": {
                                                            "type": "integer"
                                                        },
                                                        "image": {
                                                            "type": "string"
                                                        },
                                                        "alt": {
                                                            "type": "integer"
                                                        },
                                                        "sort_order": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coupons/get-by-code": {
            "post": {
                "tags": [
                    "CouponByCode"
                ],
                "summary": "Get coupon by code",
                "operationId": "Coupon By Code",
                "requestBody": {
                    "$ref": "#/components/requestBodies/CouponGetByCode"
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "description": "Coupon Id",
                                                "type": "integer"
                                            },
                                            "code": {
                                                "description": "Coupon code",
                                                "type": "string"
                                            },
                                            "start_date": {
                                                "description": "Coupon start date",
                                                "type": "string"
                                            },
                                            "end_date": {
                                                "description": "Coupon end date",
                                                "type": "string"
                                            },
                                            "type": {
                                                "description": "Coupon discont type (fixed, persent)",
                                                "type": "string",
                                                "default": "fixed"
                                            },
                                            "amount": {
                                                "description": "Coupon discont mount",
                                                "type": "number",
                                                "default": "0.00"
                                            },
                                            "active": {
                                                "description": "Coupon activety",
                                                "type": "boolean",
                                                "default": "1"
                                            },
                                            "is_used": {
                                                "description": "Was coupon used or not",
                                                "type": "boolean",
                                                "default": "0"
                                            },
                                            "created_at": {
                                                "description": "Created at",
                                                "type": "string"
                                            },
                                            "updated_at": {
                                                "description": "Upated at",
                                                "type": "sting"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/products": {
            "get": {
                "tags": [
                    "products"
                ],
                "summary": "Get list of categories with relation data",
                "operationId": "products",
                "parameters": [
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "The category id specific products category",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "perpage",
                        "in": "query",
                        "description": "Products per page",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Products page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "products": {
                                            "description": "Products list and pagination parameters",
                                            "properties": {
                                                "current_page": {
                                                    "description": "Current page number",
                                                    "type": "integer"
                                                },
                                                "data": {
                                                    "description": "Products array",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "description": "Product ID",
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "description": "Product name",
                                                                "type": "string"
                                                            },
                                                            "category_id": {
                                                                "description": "Product category ID",
                                                                "type": "integer"
                                                            },
                                                            "image_folder": {
                                                                "description": "Product image folder url",
                                                                "type": "string"
                                                            },
                                                            "unit_id": {
                                                                "description": "Product unit ID",
                                                                "type": "integer"
                                                            },
                                                            "sort_order": {
                                                                "description": "Sort product value",
                                                                "type": "integer"
                                                            },
                                                            "category": {
                                                                "description": "Specified product category",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Specified product category id",
                                                                        "type": "integer"
                                                                    },
                                                                    "parent_id": {
                                                                        "description": "Specified parent category id",
                                                                        "type": "integer"
                                                                    },
                                                                    "name": {
                                                                        "description": "Specified product category name",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "product_images": {
                                                                "description": "Specified product images",
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "Specified product category id",
                                                                            "type": "integer"
                                                                        },
                                                                        "parent_id": {
                                                                            "description": "Specified parent category id",
                                                                            "type": "integer"
                                                                        },
                                                                        "name": {
                                                                            "description": "Specified product category name",
                                                                            "type": "string"
                                                                        },
                                                                        "alt": {
                                                                            "description": "Specified product alternative name",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "unit": {
                                                                "description": "Product unit",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Prodict unit ID",
                                                                        "type": "integer"
                                                                    },
                                                                    "name": {
                                                                        "description": "Prodict unit name",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "last_page": {
                                                    "description": "Last page number",
                                                    "type": "integer"
                                                },
                                                "path": {
                                                    "description": "Url to current path",
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "description": "Products per page",
                                                    "type": "string"
                                                },
                                                "total": {
                                                    "description": "Total products number",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "requestBodies": {
            "CouponGetByCode": {
                "description": "Riddle object that needs to be updated",
                "required": true,
                "content": {
                    "application/x-www-form-urlencoded": {
                        "schema": {
                            "properties": {
                                "code": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    }
}