{
    "openapi": "3.0.0",
    "info": {
        "title": "Market API",
        "description": "Market L5 Swagger OpenApi description",
        "contact": {
            "email": "dima8045@ukr.net"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://market.loc/api",
            "description": "Market API local host"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register",
                "description": "Return created user",
                "operationId": "registration",
                "requestBody": {
                    "request": "User",
                    "description": "Enter user",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "User2"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "user2@mail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "The given data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "errors": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "%FIELD_NAME%": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "message": {
                                                "type": "srting"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "user": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "%FIELD_NAME%": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "access_token": {
                                                "type": "string",
                                                "default": "true"
                                            },
                                            "redirect": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login",
                "description": "Return user",
                "operationId": "login",
                "requestBody": {
                    "request": "User",
                    "description": "Enter user",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "user1@mail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "The given data was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "errors": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "%FIELD_NAME%": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "message": {
                                                "type": "srting"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "user": {
                                                "type": "object",
                                                "items": {
                                                    "properties": {
                                                        "%FIELD_NAME%": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "access_token": {
                                                "type": "string",
                                                "default": "true"
                                            },
                                            "redirect": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/logout": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout",
                "description": "Logs out current logged user session",
                "operationId": "logout",
                "responses": {
                    "401": {
                        "description": "Access token was invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "message": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "message": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get list of categories",
                "description": "Returns list of categories",
                "operationId": "get_categories",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Category"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Category": {
                "title": "Category",
                "description": "Category model",
                "properties": {
                    "id": {
                        "description": "Category Id",
                        "type": "integer"
                    },
                    "parent_id": {
                        "description": "Parent category Id",
                        "type": "integer",
                        "default": "null"
                    },
                    "name": {
                        "description": "Name of category",
                        "type": "string"
                    },
                    "created_at": {
                        "description": "timestamp of creating",
                        "type": "string",
                        "example": "2018-10-16 10:54:44"
                    },
                    "updated_at": {
                        "description": "timestamp of last updated",
                        "type": "string",
                        "example": "2018-10-16 10:54:44"
                    },
                    "categoryImages": {
                        "description": "Category images collection",
                        "type": "array",
                        "items": {
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "category_id": {
                                    "type": "integer"
                                },
                                "name_file": {
                                    "type": "string"
                                },
                                "thambnail_tile": {
                                    "type": "integer"
                                },
                                "alt": {
                                    "type": "integer"
                                },
                                "sort_order": {
                                    "type": "integer"
                                },
                                "created_at": {
                                    "description": "timestamp of creating",
                                    "type": "string",
                                    "example": "2018-10-16 10:54:44"
                                },
                                "updated_at": {
                                    "description": "timestamp of last updated",
                                    "type": "string",
                                    "example": "2018-10-16 10:54:44"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            },
            "passport": {
                "type": "oauth2",
                "description": "Laravel passport oauth2 security.",
                "in": "header",
                "scheme": "https",
                "flows": {
                    "password": {
                        "authorizationUrl": "http://market.loc/oauth/authorize",
                        "tokenUrl": "http://market.loc/oauth/token",
                        "refreshUrl": "http://market.loc/token/refresh",
                        "scopes": []
                    }
                }
            }
        }
    }
}